<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.llmchat.server.repository.mapper.AiChatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ai.llmchat.server.repository.entity.AiChat">
        <id column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="model_id" property="modelId"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="testing" property="testing"/>
        <result column="status" property="status"/>
        <result column="create_at" property="createAt"/>
        <result column="create_by" property="createBy"/>
        <result column="update_at" property="updateAt"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , app_id, model_id, user_id, title, testing, status, create_at, create_by, update_at, update_by
    </sql>

</mapper>
